body {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}
h1, h2 {
	margin-bottom: 1px;
	padding-bottom: 1px;
}

#title {
	margin-bottom: 1em;
	margin-left: 1em;
}

#content {
	margin-top: 2em;
	margin-left: 2em;
}

#left-box {
	/* margin-right: 300px; */
	align-self: center;
	border: thin black solid;
	padding-left: 10pt;
	padding-right: 10pt;
	min-height: 200pt;
}

#timerBox {
	margin-left: 2em;
}

#drinkWater {
	color:rgb(5, 153, 221);
}

#sensor {
	color: rgb(218, 17, 17);
}